<div class="container" (click)="onClick()">
  <div class="card mb-2 match-card">
    <div class="year">
      {{ match.season }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 pr-0">
          <p class="m-0">{{ match.team1 }}</p>
          <p class="m-0">VS</p>
          <p class="m-0">{{ match.team2 }}</p>
        </div>
        <div class="col-md-4 pl-0">
          <img src="../../../assets/logo.svg" alt="" width="80" height="80" />
        </div>
      </div>
    </div>
  </div>
</div>
