<app-loader [loading]="loading"></app-loader>

<div *ngIf="error; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <div class="text-center text-primary mt-5">
    <h3>{{ error.message && "Someting went wrong" }}</h3>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div *ngIf="!loading">
    <h3 ngClass="text-center m-2 text-primary">All Matches</h3>
    <div class="d-flex justify-content-center m-3">
      <form class="form-inline" (ngSubmit)="filterMatches(team, year)">
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="team1"
            placeholder="Search Team "
            [(ngModel)]="team"
            name="team"
          />
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input
            type="text"
            class="form-control"
            id="team2"
            placeholder="Search Year"
            [(ngModel)]="year"
            name="year"
          />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>
    <div class="m-3 text-info text-center">{{ filterMessage }}</div>
    <div class="row">
      <div
        class="col col-md-4 col-sm-12"
        *ngFor="
          let match of filteredMatches
            | paginate: { itemsPerPage: 12, currentPage: p }
        "
      >
        <app-match-card [match]="match"></app-match-card>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <div class="text-center my-4" *ngIf="!loading">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-template>
